<%- include('../../shared/includes/head.ejs', { pageTitle: 'Update Product' }) %>
</head>
<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main>
    <h1>Edit Product</h1>
    <%- include('./includes/product-form.ejs', { csrfToken, submitPath: `/admin/products/${product.id}` }) %>
  </main>
<%- include('../../shared/includes/footer.ejs') %>

