<%- include('../../shared/includes/head.ejs', { pageTitle: 'All products' }) %>
</head>
<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main>
    <h1>All Products</h1>
    <p>A list of our products...</p>
  </main>
<%- include('../../shared/includes/footer.ejs') %>

