<%- include('../includes/head.ejs', { pageTitle: 'Sign Up' }) %>
</head>
<body>
  <%- include('../includes/header.ejs') %>
  <main>
    <h1>Create a New Account</h1>
    <form action="" method="">

    </form>
  </main>
<%- include('../includes/footer.ejs') %>

