<header id="main-header">
  <div id="logo"><a href="/">GameStore</a></div>
  <nav id="main-nav"><%- include('nav-items') %></nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <button id="close-btn">
    <span></span>
    <span></span>
  </button>
  <nav><%- include('nav-items') %></nav>
</aside>
