.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-100);

  margin: var(--space-4) 0;
  padding: var(--space-4);
  border-radius: var(--border-radius-medium);
}

.cart-item h2 {
  font-size: 1rem;
}

.cart-item-management {
  display: flex;
  gap: var(--space-4);
}

.cart-product-price {
  font-style: italic;
  color: var(--primary-color-400);
}

#cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cart-total p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color-500);
}

#cart-total #cart-total-fallback {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 48rem) {
  .cart-item {
    flex-direction: column;
    align-items: start;
    gap: var(--space-4);
  }

  .cart-item-management {
    justify-content: space-between;
    width: 100%;
  }

  .cart-item-management input {
    width: 50%;
  }

  #cart-total {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
  }
}
