@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --purple: rgb(110, 3, 186);
  --purple-dark: rgb(56, 3, 94);

  font-size: 62.5%; /* 1rem = 10px */
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--purple);
  margin: 0;
  padding: 0;

  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;
}
