<article class="cart-item">
  <div class="cart-item-info">
    <h2><%= cartItem.product.title %></h2>
    <p>
      € <%= cartItem.totalPrice.toFixed(2) %>
      <span class="cart-product-price"
        >(€<%= cartItem.product.price.toFixed(2) %>)</span
      >
    </p>
  </div>

  <div class="cart-item-management">
    <input type="number" value="<%= cartItem.quantity %>" required />
    <button class="btn btn-alt">Update</button>
  </div>
</article>
