<%- include('../../shared/includes/head.ejs', { pageTitle: 'Failure!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main>
    <h1>Order was successful!</h1>
    <h1>You can visit <a href="/orders">the orders page</a> for more details.</h1>
  </main>
<%- include('../../shared/includes/footer.ejs') %>

